<mat-card>
  <mat-card-title>
    <mat-icon>local_offer</mat-icon>
    Tags
  </mat-card-title>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-content>
    <div class="categories">
      <app-category
        *ngFor="let category of categories; trackBy: trackById"
        [category]="category"
        (categoryClicked)="editCategory($event)">
      </app-category>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addCategory()">
      <mat-icon>add</mat-icon>
      <span>Add</span>
    </button>
  </mat-card-actions>
</mat-card>
