<h2 mat-dialog-title>Todo</h2>
<mat-dialog-content>
  <form #categoryForm="ngForm">
    <mat-form-field>
      <input type="text" matInput required [(ngModel)]="name" placeholder="Name" name="name">
    </mat-form-field>
  </form>
  <div class="label" [ngStyle]="{'color': selectedColor}">
    <mat-icon>label</mat-icon>
  </div>
  <div class="color-picker">
    <div class="color-picker__color"
         *ngFor="let color of COLORS"
         [class.selected]="category?.color === 'color'"
         [ngStyle]="{'background-color': color}"
        (click)="selectColor(color)">
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-raised-button color="primary" class="mr-auto"
          [disabled]="categoryForm.controls.name?.invalid"
          (click)="submit()">{{action}}</button>
  <button *ngIf="action === 'Update'"
           mat-button mat-raised-button color="accent" class="ml-auto"
          [mat-dialog-close]="true"
          (click)="delete()">
          Delete
  </button>
</mat-dialog-actions>
