.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.chart {
  display: flex;
  justify-content: center;
  max-height: 300px;

  &__chart-doughnut {
    display: flex;
    justify-content: center;
  }
}
