.mat-card {
  max-width: 350px;
  border-right: 5px solid;
  cursor: pointer;
  margin: 1rem 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icons {
    color: salmon;
    margin-right: 1rem;

    :last-child {
      margin-left: 1rem;
    }
  }

}
