.mat-card {
  border-right: 5px solid;
  margin: 1rem 0;
}

.todo {
  display: grid;
  grid-template-columns: 50px auto 40px 40px;
  align-items: center;

  .clickable {
    cursor: pointer;
  }

  &__done {

    .icon {
      color: #ffffff;
      padding: 5px;
      border-radius: 50%;
      border: 1px solid #909090;
      box-sizing: content-box;
    }

    .icon:hover {
      background-color: #1bd281;
      cursor: pointer;
      border-color: #1bd281;
      transition:all 1s ease;
    }
  }
}
