form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  min-width: 250px;
}

.category {
  display: flex;
  align-items: center;

  &__color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

