<div class="container" [class.active]="true">
  <app-category-list [categories]="categories"
                     (categoryChanges)="handleCategoryDialogResponse($event)">
  </app-category-list>
  <div class="grid">
    <!-- TODO Make component for todo-list and make this ?todos-overview?  -->
    <div class="todos">
      <h3 class="mat-typography">Pending</h3>
      <ng-container *ngIf="todosPending$ | async as todos">
        <app-todo
          *ngFor="let todo of todos"
          [todo]="todo"
          (editTodo)="todoClicked($event)"
          (markDone)="markTodoDone($event)"
          (markCanceled)="markTodoCanceled($event)"
          class="m-3"></app-todo>
      </ng-container>
    </div>
    <!-- TODO Make component for todo-list   -->
    <div class="todos">
      <h3 class="mat-typography">Done</h3>
      <ng-container *ngIf="todosDone$ | async as todos">
        <app-todo
          *ngFor="let todo of todos"
          [todo]="todo"
          (editTodo)="todoClicked($event)"
          (markDone)="markTodoDone($event)"
          (markCanceled)="markTodoCanceled($event)"></app-todo>
      </ng-container>
    </div>
  </div>

  <button mat-button mat-raised-button color="primary" (click)="createTodo()">Add ToDo</button>
</div>
