<div class="container">
  <div class="grid">
    <app-category-list [categories]="categories"
                       (categoryChanges)="handleCategoryDialogResponse($event)">
    </app-category-list>
    <app-actions-history></app-actions-history>
  </div>
  <div class="charts-wrapper">
    <app-todos-charts [data]="todosAmountDone$ | async"></app-todos-charts>
  </div>
  <div class="todo-list-wrapper">
    <app-todo-list [todos]="todosPending$ | async"
                   (createTodo)="createTodo()"
                   (editTodo)="editTodo($event)"
                   (markTodoCanceled)="markTodoCanceled($event)"
                   (markTodoDone)="markTodoDone($event)">
    </app-todo-list>
  </div>
</div>
