.container {
  max-width: 1001px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}

.charts-wrapper {
  margin-top: 16px;
}

.todo-list-wrapper {
  margin-top: 16px;
}

.grid {
  display: grid;
  margin-top: 16px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
