mat-chip {
  cursor: pointer;
}

.chip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;

  &__color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}
